<?xml version="1.0"?>
<config>
	<modules>
		<Inchoo_Alternate>
			<version>1.0.0</version>
		</Inchoo_Alternate>
	</modules>
	<global>
		<helpers>
			<inchoo_alternate>
				<class>Inchoo_Alternate_Helper</class>
			</inchoo_alternate>
		</helpers>
	</global>
	<frontend>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<inchoo_alternate>
						<type>singleton</type>
						<class>Inchoo_Alternate_Model_Observer</class>
						<method>alternateLinks</method>
					</inchoo_alternate>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>
</config>
